---
  applications:
    -
      name: "cf-env-test01"
      domain: "go.appstack.go"
      memory: "512M"
      services:
        - "cf-env-svc02"
        - "cf-env-svc03"
      env: 
        my-demo-stack_srcurl: "https://my.artifact-store.org/cf-env/0.1-1/cf-env-0.1-1.zip"
        my-demo-stack_version: "0.1-1"
        my-demo-stack_svcname: "cf-env-svc01"
        my-demo-stack_svcparams: ""
    -
      name: "cf-env-test02"
      services: 
        - "cf-env-svc04"
      env: 
        my-demo-stack_srcurl: "https://my.artifact-store.org/cf-env/0.2-1/cf-env-0.2-1.zip"
        my-demo-stack_version: "0.2-1"
        my-demo-stack_svcname: "cf-env-svc02"
        my-demo-stack_svcparams: ""
    -
      name: "cf-env-test03"
      services: 
        - "cf-env-svc02"
      env: 
        my-demo-stack_srcurl: "https://my.artifact-store.org/cf-env/0.3-1/cf-env-0.3-1.zip"
        my-demo-stack_version: "0.3-1"
        my-demo-stack_svcname: "cf-env-svc03"
        my-demo-stack_svcparams: ""
    - 
      name: "cf-env-test04"
      env: 
        my-demo-stack_srcurl: "https://my.artifact-store.org/cf-env/0.4-1/cf-env-0.4-1.zip"
        my-demo-stack_version: "0.4-1"
        my-demo-stack_svcname: "cf-env-svc04"
        my-demo-stack_svcparams: '{"tornado":"http://hurricane.andrew.stage.five/"}'
